<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>Curso ASP.NET Core</header>
    <section>
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </section>
    
    <footer>
        2020 Todos los derechos reservados: Curso ASP.NET Core
    </footer>
</body>
</html>