@model MovieViewModel
@{
    ViewBag.Title = "Bienvenido";
}

<div>
    <h4>Editar Película</h4>
    <div>
        <form method="post">
            <label asp-for="Name">Nombre:</label>
            <br>
            <input type="text" asp-for="Name">
            <span asp-validation-for="Name"></span>
            <br>
            <label asp-for="Genre">Género:</label>
            <br>
            <input type="text" asp-for="Genre">
            <span asp-validation-for="Genre"></span>
            <br>
            <input type="submit">
        </form>
        <a asp-controller="App" asp-action="Index">Ir Atras</a>
    </div>
</div>

