@{
    ViewBag.Title = "Home Page";
    // Layout = "_Layout";
}
<a asp-controller="App" asp-action="About">Acerca de nosotros</a>
<ul>
    <li><a asp-controller="App" asp-action="Edit">GooFellas</a></li>
    <li>El padrino</li>
    <li>Batman the dark night</li>
</ul>
