@{
    ViewBag.Title = "Acerca de nosotros";
}

<div>
    <h4>Página dedicada a los amantes de la música</h4>
    <div>
        <a asp-controller="App" asp-action="Index">Ir Atras</a>
    </div>
</div>

